.content-center {
	margin: auto;
}

.nav-insure {
	background-color: red;
	border-color: black;
}

.nav-insure .navbar-right {
	margin-right: 0px;
}

.navbar-header a.navbar-brand {
	height: 80px;
	line-height: 50px;
	font-size: 22px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	color: white;
}

.navbar-header a.navbar-brand:hover {
	color: white;
	border: none;
}

.navbar-header a.navbar-brand:focus {
	color: white;
	border: none;
}

.nav-insure.navbar-default .navbar-nav>li>a {
	height: 80px;
	line-height: 50px;
	font-size: 14px;
	font-family: ubuntu, sans-serif;
	color: white;
	width: 110px;
	text-align: center;
}

.nav-insure.navbar-default .navbar-nav>li>a:hover {
	font-weight: 700;
	background-color: black;
}

.nav-insure.navbar-default .navbar-nav>li>a:focus {
	font-weight: 700;
	background-color: black;
}

.nav-insure.navbar-default .navbar-nav>li>a.home {
	border-color: red;
	background: red url(../images/icon-home.svg) no-repeat left top;
	background-size: cover;
	width: 22px;
	height: 22px;
	margin: 20px;
	border-style: solid;
	border-width: 4px;
	border-radius: 3px;
}

.nav-insure.navbar-default .navbar-nav>li>a.home:hover {
	border-color: black;
	background-color: black;
}

.nav-insure.navbar-default .navbar-nav>li>a.home:focus {
	border-color: rgba(0, 0, 0, 0.40);
	background-color: rgba(0, 0, 0, 0.40);
}

.navbar-main-contacts {
	height: 40px;
	background-color: black;
}

.navbar-main-contacts .phone-logo {
	width: 24px;
	height: 24px;
	margin-right: 8px;
	margin-bottom: 8px;
	margin-top: 8px;
	margin-left: 18px;
	vertical-align: top;
}

.navbar-main-contacts .main-phone-number {
	color: #F3FFE2;
	font-size: 20px;
	line-height: 40px;
	font-family: ubuntu, sans-serif;
	font-weight: 700;
	display: inline;
}

.main-cover {
	height: 100vh;
	position: relative;
	transform: translateY(0px);
	background-image: url(../images/header-bg.jpg);
	background-attachment: scroll;
	width: 100%;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	vertical-align: middle;
	display: flex;
	align-items: center;
	justify-content: center;
}

.main-message {
	width: 1060px;
	height: 300px;
	background-color: red;
	margin-top: 120px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border-radius: 3px;
	border-width: 0px;
}

.main-message .left {
	width: 610px;
	height: 100%;
}

.main-message .right {
	width: 450px;
	background-color: black;
	height: 100%;
	border-radius: 3px;
	border-width: 0px;
}

.right-label-text {
	font-family: raleway, sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 28px;
	line-height: 50px;
	text-align: left;
	margin: 20px;
	margin-bottom: 10px;
}

.right-strong-text {
	font-weight: 700;
	color: red;
}

.base-content-description-text {
	text-align: left;
	margin-left: 20px;
	margin-right: 20px;
	color: #A9ABAD;
	font-family: open-sans, sans-serif;
	padding-top: 10px;
	line-height: 25px;
	font-weight: 600;
	font-size: 14px;
}

.right-inputs {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 20px;
	margin-right: 10px;
}

.right-inputs input {
	flex: 1;
	height: 50px;
	margin-right: 10px;
	color: #7F8995;
	font-weight: 500;
	min-height: 38px;
	font-family: ubuntu, sans-serif;
	padding: 6px;
	border-radius: 3px;
	border-width: 0px;
}

.main-message-button {
	height: 50px;
	background-color: red;
	margin-left: 20px;
	margin-right: 20px;
	border-radius: 3px;
	border-width: 0px;
	text-align: center;
	font-family: raleway, sans-serif;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 50px;
}

.main-message-button:focus, .main-message-button:hover {
	cursor: pointer;
	background-color: #dc0000;
}

.img-auto {
	background: url(../images/icon-auto.svg) no-repeat left top;
}

.img-health {
	background: url(../images/icon-health.svg) no-repeat left top;
}

.img-home {
	background: url(../images/icon-home.svg) no-repeat left top;
}

.img-life {
	background: url(../images/icon-life.svg) no-repeat left top;
}

.img-pet {
	background: url(../images/icon-pet.svg) no-repeat left top;
}

.img-travel {
	background: url(../images/icon-travel.svg) no-repeat left top;
}

.main-message .left {
	display: flex;
	flex-direction: column;
}

.main-message .left-content {
	flex: 1;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
}

.main-message .left-tabs {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}

.main-message .left-tabs .main-message-tab {
	margin: 5px;
}

.main-message-tab-img {
	margin: 10px;
	width: 30px;
	height: 30px;
	background-size: cover;
}

.main-message .left-tabs .main-message-tab:focus, .main-message .left-tabs .main-message-tab:hover, .main-message-tab.active-tab {
	cursor: pointer;
	background-color: #af0000;
	border-radius: 3px;
	border-width: 0px;
}

.main-message-label {
	font-family: raleway, sans-serif;
	font-weight: 300;
	color: #FFFFFF;
	font-size: 28px;
	text-align: left;
	line-height: 50px;
}

.left-strong-text {
	font-weight: 700;
	color: black;
}

.main-message-description-text {
	text-align: left;
	color: #eee;
	font-family: open-sans, sans-serif;
	line-height: 25px;
	font-weight: 600;
	font-size: 14px;
}

.left-content-tab {
	display: none;
}

.active-content-tab {
	display: block;
}

.special-record {
	background-color: black;
	height: 120px;
}

.special-content {
	height: 100%;
	width: 1060px;
	margin: auto;
	display: flex;
}

.special-content-text {
	width: 730px;
	margin: 30px;
	color: #F3FFE2;
	font-size: 16px;
	font-family: open-sans, sans-serif;
	font-weight: 600;
	line-height: 29px;
}

.special-content-action {
	flex: 1;
	padding-top: 30px;
	font-weight: 700;
}

.about-us-record {
	height: 730px;
	background: #FFFFFF url(../images/old_wall.jpg) repeat center top fixed;
}

.about-us-content {
	width: 1300px;
	margin: auto;
	display: flex;
	margin-top: 80px;
}

.about-us-content-left {
	flex: 1;
	margin-right: 10px;
}

.about-us-content-right {
	flex: 1;
	margin-left: 10px;

}

.text-content-title {
	font-weight: 300;

	color: #22262B;
	font-size: 36px;
	line-height: 46px;

	text-align: left;
	word-wrap: break-word;
}

.title-large {
	font-weight: 700;
	font-size: 38px;
}

.content-line {
	margin-top: 30px;
	border-radius: 3px;
	width: 100px;
	background-color: red;
	height: 4px;
	margin-bottom: 30px;
}

.content-first-text {
	color: #585B60;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	font-family: open-sans, sans-serif;
}

.about-us-content-second-text {
	margin-top: 30px;
	color: #585B60;
	font-weight: 400;
	font-size: 16px;
	line-height: 28px;
	font-family: open-sans, sans-serif;
}

.about-us-content-img {
	height: 238px;
	background-image: url(../images/about-us-photo.jpg);
	margin-top: 30px;
	width: 100%;
	background-repeat: no-repeat;
	background-color: transparent;
	background-position: center top;
	background-size: cover;
	border-radius: 3px;
	border-color: #000000;
	border-width: 0px;
}

.about-us-content-plus {
	display: flex;
	padding-top: 20px;
	padding-bottom: 40px;
}

.plus-cell {
	background-color: red;
	border-radius: 3px;
	height: 75px;
}

.plus-icon {
	background: url(../images/plus-symbol.svg) no-repeat center center;
	background-size: contain;
	width: 35px;
	height: 35px;
	margin: 20px;
}

.about-us-content-plus .fact {
	margin-left: 20px;
}

.about-us-content-plus .fact .fact-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 32px;
	font-family: raleway, sans-serif;
	color: black;
}

.about-us-content-plus .fact .fact-description {
	font-weight: 400;
	font-size: 16px;
	line-height: 29px;
	font-family: open-sans, sans-serif;
	color: #585B60;
}

.some-fact-record {
	height: 620px;
}

.some-fact-record-bg {
	background: transparent url(../images/facts-bg.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	height: 620px;
	width: 100%;
	z-index: -1;
}

.some-fact-record-fade {
	background-color: #22262B;
	opacity: 0.75;
	position: absolute;
	height: 620px;
	width: 100%;
}

.base-content-main-container {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.some-fact-main-text {
	padding-top: 60px;
}

.some-fact-title {
	color: #FFFFFF;
	font-weight: 400;
	font-size: 36px;
	line-height: 46px;
	font-family: raleway, sans-serif;
	text-align: center;
}

.some-fact-main-text .content-first-text {
	color: #A9ABAD;
	text-align: center;
	margin: auto;
	width: 800px;
}

.some-fact-record .main-facts {
	margin: auto;
	padding-top: 60px;
	width: 1200px;
	display: flex;
}

.some-fact-record .fact {
	width: 300px;
}

.fact-round-first {
	width: 160px;
	height: 160px;
	border-color: red;
	border-style: solid;
	border-width: 2px;
	border-radius: 200px;
	margin: auto
}

.fact-round-second {
	margin-top: 3px;
	margin-left: 3px;
	width: 150px;
	height: 150px;
	border-color: red;
	border-style: solid;
	border-width: 6px;
	border-radius: 200px;
}

.fact-img-clients {
	background: transparent url(../images/icon-people.svg) no-repeat center center;
}

.fact-img-like {
	background: transparent url(../images/icon-like.svg) no-repeat center center;
}

.fact-img-office {
	background: transparent url(../images/icon-office.svg) no-repeat center center;
}

.fact-img {
	width: 50px;
	height: 50px;
	border-color: red;
	background-size: cover;
	margin: auto;
	margin-top: 44px;
}

.some-fact-record .fact>.fact-title {
	font-size: 32px;
	line-height: 38px;
	color: #FFFFFF;
	font-family: ubuntu, sans-serif;
	text-align: center;
	font-weight: 700;
	margin-top: 20px;
	margin-left: 40px;
	margin-right: 40px;
}

.services-record {
	background: #FFFFFF url(../images/old_wall.jpg) repeat center top fixed;
	padding-top: 60px;
	padding-bottom: 80px;
}

.center-content {
	margin: auto;
	text-align: center;
}

.content-line.center-content {
	margin-top: 30px;
	margin-bottom: 30px;
}

.services-record .content-first-text {
    width: 80%;
    margin: auto;
	text-align: center;
}

.services-table {
	display: flex;
	margin: 30px;
	flex-wrap: wrap;
	border-color: red;
	border-style: solid;
	border-bottom: none;
	border-right: none;
	border-width: thin;
}

.services-cell {
	flex: 1;
	height: 350px;
	border-color: red;
	border-style: solid;
	border-top: none;
	border-left: none;
	min-width: 350px;
	border-width: thin;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
}

.services-cell-icon-life {
	background: red url(../images/icon-life.svg) no-repeat center center;
}

.services-cell-icon-health {
	background: red url(../images/icon-health.svg) no-repeat center center;
}

.services-cell-icon-auto {
	background: red url(../images/icon-auto.svg) no-repeat center center;
}

.services-cell-icon-travel {
	background: red url(../images/icon-travel.svg) no-repeat center center;
}

.services-cell-icon-home {
	background: red url(../images/icon-home.svg) no-repeat center center;
}

.services-cell-icon-pet {
	background: red url(../images/icon-pet.svg) no-repeat center center;
}

.services-cell-icon {
	border-radius: 3px;
	border-color: red;
	border-width: 20px;
	position: relative;
	border-style: solid;
	height: 100px;
	width: 100px;
	background-size: cover;
	margin: auto;
}

.services-cell-text {
	font-size: 32px;
	line-height: 38px;
	margin-top: 10px;
	text-align: center;
}

.text-large {
	font-size: 34px;
	font-weight: 700;
}

.services-cell-review {
	background-color: black;
	border-radius: 3px;
	width:96%;
	height: 96%;
	padding: 20px;
}

.services-cell-none {
	display: none;
}

.services-cell-review-text {
	color: white;
	font-family: raleway, sans-serif;
	font-size: 28px;
	line-height: 36px;
}

.services-cell-review-text .text-large {
	font-size: 32px;
	color: red;
}


.services-cell-review .content-line {
	margin-top: 20px;
	margin-bottom: 20px;
}

.services-cell-review .base-content-description-text {
	margin: 0px;
	font-size: 15px;
	padding: 0px;
}

.services-cell-preview {
	position: absolute;
}

.feedback-record-bg {
	background: transparent url(../images/testimonials-bg.jpg) no-repeat center center;
	background-size: cover;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

.feedback-record-fade {
	background-color: #22262B;
	opacity: 0.75;
	position: absolute;
	width: 100%;
    height: 100%;
}

.feedback-record {
    height: 620px;
	position: relative;
}

.feedback-record .base-content-main-container {
	padding-top: 100px;
	padding-bottom: 60px;
}

.feedback-record-carousel {
	height: 100%;
}

.feedback-item-content {
	text-align: center;
}

.feedback-item-content .img-circle {
	border-color: red;
	border-width: 2px;
	border-style: solid;
}

.feedback-item-name {
	margin-top: 10px;
	color: #FFFFFF;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	font-family: raleway, sans-serif;
}

.feedback-item-post {
    font-size: 15px;
    line-height: 18px;
    color: red;
    text-align: center;
    margin-top: 6px;
    font-weight: 700;
}

.feedback-item-text {
    font-size: 19px;
    line-height: 25px;
    color: #A9ABAD;
    text-align: center;
    font-weight: 700;
    width: 80%;
    margin: auto;
    padding-top: 15px;
}

.get-insure-record {
    background: #FFFFFF url(../images/old_wall.jpg) repeat center top fixed;
    padding-top: 60px;
    padding-bottom: 80px;
}

.get-insure-record .content-first-text {
    width: 80%;
    margin: auto;
    text-align: center;
}

.call-table {
    display: flex;
    margin-top: 40px;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.call-cell {
    flex: 1;
    min-width: 445px;
    margin-left: 20px;
    margin-right: 20px;
}

.call-icon {
    width: 100px;
    height: 100px;
    border-style: solid;
    border-width: 20px;
    border-color: red;
    border-radius: 3px;
    background: red url(../images/ico-call-center.svg) no-repeat center center;
    background-size: cover;
    margin: auto;
}

.call-description {
    font-size: 28px;
    line-height: 36px;
    color: black;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
}

.call-number {
    font-size: 50px;
    line-height: 70px;
    color: red;
    font-family: ubuntu, sans-serif;
    font-weight: 700;
    text-align: center;
    word-wrap: break-word;
}

.call-photo {
    height: 472px;
    margin-top: 60px;
    position: relative;
    width: 100%;
    background: rgba(0,0,0,0) url(../images/call-center-photo.jpg) no-repeat center top;
    background-color: transparent;
    background-size: cover;
    border-radius: 3px;
}

.call-form {
    background-color: black;
    border-radius: 3px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 10px;
    padding-left: 20px;
}

.cell-title {
    color: white;
    font-size: 28px;
    line-height: 50px;
    text-align: left;
}

.cell-title .title-large {
    color: red;
    font-size: 30px;
}

.inputs-table {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
}

.inputs-table input[type=text] {
    flex: 1;
    min-width: 205px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 3px;
    height: 50px;
    color: #7F8995;
    font-weight: 500;
    min-height: 38px;
    font-family: ubuntu, sans-serif;
    padding: 6px;
    border-width: 0px;
}

.inputs-table .checkbox-line {
    height: 20px;
    margin: 20px 20px 10px;
    min-width: 180px;
    flex: 1;
    display: flex;
}

.inputs-table input[type=checkbox] {
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}

.inputs-table label {
    color: white;
    font-size: 16px;
    text-align: left;
    font-weight: 700;
    line-height: 16px;
    display: block;
    max-width: 100%;
    margin-bottom: 0px;
    padding-top: 4px;
    padding-left: 10px;
}

input[type=checkbox]:checked + label {
    color: #a5a5a5;
}

.call-form .inputs-table.margin_top_null {
	margin-top: 0px;
}

.call-form textarea {
    margin-right: 20px;
    margin-bottom: 10px;
    margin-top: 20px;
    border-radius: 3px;
    height: 100px;
    width: calc(100% - 10px);
    color: #7F8995;
    font-weight: 500;
    font-family: ubuntu, sans-serif;
    padding: 6px;
    border-width: 0px;
    resize: none;
}

.call-form .main-message-button {
    margin-left: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.map-record {
    height: 600px;
}

.map-record iframe {
    width: 100%;
}

.contact-record {
    padding: 40px;
    background-color: black;
    display: flex;
}

.contact-cell {
    flex: 1;
}

.contact-cell.address-cell {
    flex: 2;
}

.title-contact {
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    line-height: 29px;
    font-family: raleway, sans-serif;
}